h1 {
	font-size: 24px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.todo-item {
	border-radius: 10px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	padding: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 0 auto 10px;
	max-width: 90%;
	cursor: pointer;
}

.todo-item > input {
	cursor: pointer;
}

.todo-item > .name {
	font-size: 12px;
	margin-left: 10px;
}

input[type='text'] {
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: block;
	max-width: 70%;
	margin: 30px auto 20px;
	padding: 10px 15px;
	border: none;
	outline: none;
	font-size: 12px;
}
